/* Pictograma de Estrela */
img#ysServicoProjPersonalizacao1{
  top: 3%;
  right: 2%;
  animation: ysServicoProjPersonalizacao1 9s infinite;
}

img#ysServicoProjPersonalizacao2{
  top: 3%;
  left: 2%;
  animation: ysServicoProjPersonalizacao2 9s infinite;
}