@media (max-width: 768px) {
  .serv-section-aluminio figure {
    order: 2;
  }

  .serv-section-aluminio > div {
    order: 1;
  }

  .serv-section-convencional-content {
    display: flex;
    flex-direction: column;
  }

  .serv-section-convencional-content > div {
    order: 1;
  }

  .serv-section-convencional-content figure {
    order: 2;
  }
}