/* 
=========================================================================
=== ARQUIVO EXCLUSIVO PARA ANIMAÇÕES QUE SERÃO ACIONADAS COM O SCROLL ===
=========================================================================
*/


/* Linha amarela surge sem tamanho e termina com tamanho de 40px */
/* Propriedade para colocar no elemento HTML: data-animate-NS-linhas */
@keyframes nossaHistoriaLinhaSize {
    from{
        width: 0;
    } to{
        width: 40px;
    }
}
.nossaHistoriaLinhaSize{
    animation: nossaHistoriaLinhaSize .6s ease-in-out forwards;
}


/* O elemento surge pequena e termina no tamanho normal */
/* Propriedade para colocar no elemento HTML: data-animate-elementGrow */
@keyframes elementGrow {
    from{
        scale: 0;
    } to{
        scale: 1;
    }
}
.elementGrow{
    scale: 1;
    animation: elementGrow .8s ease-in-out forwards;
}


/* Footer surgindo para cima */
/* Propriedade para colocar no elemento HTML: data-animate-fadeUp */
@keyframes fadeUp {
    from{
        opacity: 0;
        transform: translateY(30%);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
.fadeUp{
    animation: fadeUp 1s ease-in-out forwards;
}


/* Elemento surgindo 50% da esquerda para direita */
/* Propriedade para colocar no elemento HTML: data-animate-fadeRight */
@keyframes fadeRight {
    from{
        opacity: 0;
        transform: translateX(-50%);
    } to{
        opacity: 1;
        transform: translateX(0%);
    }
}
.fadeRight{
    animation: fadeRight .8s ease-in-out forwards;
}


/* Opacidade do elemento sai de 0% para 100% */
/* Propriedade para colocar no elemento HTML: data-animate-opacityFull */
@keyframes opacityFull {
    from{
        opacity: 0;
    } to{
        opacity: 1;
    }
}
.opacityFull{
    animation: opacityFull .8s ease-in-out forwards;
}