/*

ys: Yellow Star

Estrturura do nome da animação:
ys + {página} + ordem que aparece na página

Ex: ysHome1

*/

/* Página HOME */
/* 1a estrela amarela */
@keyframes ysHome1{
    0%{left: 5%;}
    25%{left: 16%;}
    50%{bottom: 16%;}
    75%{left: 5%;}
    100%{bottom: 30%;}
}

/* 2a estrela amarela */
@keyframes ysHome2{
    0%{right: 3%; top: -10%;}
    25%{right: 8%; top: -15%;}
    50%{right: 12%; top: -10%;}
    75%{right: 10%; top: -8%;}
    100%{right: 3%; top: -10%;}
}

/* 3a estrela amarela */
@keyframes ysHome3{
    0%{left: 3%; top: -5%;}
    50%{left: 8%; top: 5%;}
    100%{left: 3%; top: -5%;}
}


/* Página CONTATO */
/* 1a estrela amarela */
@keyframes ysContato1{
    0%{left: 5%;}
    25%{left: 10%;}
    50%{left: 2%;}
    75%{top: 20%;}
    100%{left: 5%;}
}

/* 2a estrela amarela */
@keyframes ysContato2{
    0%{bottom: 3%;}
    25%{bottom: 12%;}
    50%{right: 18%;}
    75%{right: 5%;}
    100%{bottom: 3%;}
}