@import url('../../arquivoBase.css');

section.nossos-servicos {
  max-width: 1560px;
  position: relative;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  gap: 64px;
  padding-top: 80px;
}

/* Pictograma */
img#ysHome2{
  top: -3%;
  right: 10%;
  animation: ysHome2 9s infinite;
}

.titulo-nossos-servicos {
  font-family: var(--exo1);
  font-size: 48px;
  font-weight: 500;
  padding-left: 2px;
  color: var(--preto4);
}

.titulo-nossos-servicos-amarelo {
  color: var(--amarelo5);
  font-weight: bold;
}

.container-cards-nossos-servicos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 60px;
  justify-content: center;
}

.card-link-nossos-servicos {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  display: block;
}

.card-link-nossos-servicos:focus-visible {
  outline: 2px solid #f5c400; /* opcional, mas recomendado */
}


.cards-nossos-servicos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 477px;
  height: 300px;
  border: 4px solid var(--amarelo2);
  border-radius: 8px;
  padding: 20px;
  gap: 10px;
}

.cards-nossos-servicos h3 {
  text-align: center;
  font-size: 31px;
  font-weight: 600;
  color: var(--preto4);
}

.cards-nossos-servicos p {
  color: var(--preto4);
  max-width: 430px;
  font-size: 22px;
  text-align: center;
  font-family: var(--montserrat);
  font-weight: normal;
}

.titulo-servico {
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 6px;
}

.titulo-servico::after {
  content: "";
  width: 19px;
  height: 19px;
  background: url("../../../assets/icons/arrow-up-right-black.svg") no-repeat center;
  background-size: contain;
}

/* 600px - Mobile */
@media (max-width: 600px) {
  section.nossos-servicos {
    gap: 25px;
  }

  .titulo-nossos-servicos {
    font-size: 30px;
    margin-left: 8px;
  }

  .container-cards-nossos-servicos {
    gap: 30px;
  }

  .cards-nossos-servicos {
    width: 95%;
    height: auto;
    margin: 0px 8px 0px 8px;
    gap: 5px;
  }

  .cards-nossos-servicos h3 {
    font-size: 20px;
  }

  .titulo-servico::after {
    width: 14px;
    height: 14px;
  }

  .cards-nossos-servicos p {
    max-width: 600px;
    font-size: 15px;
  }

  .cards-nossos-servicos img {
    width: 20px;
  }

  .cards-nossos-servicos:nth-child(2) img {
    fill: var(--preto5);
  }

  .cards-nossos-servicos:nth-child(even) img {
    fill: var(--amarelo5);
  }
}

/* 601-949px Mobile Horizontal e Tablet */
@media (min-width: 601px) and (max-width: 949px) {
  section.nossos-servicos {
    gap: 40px;
  }

  .titulo-nossos-servicos {
    font-size: 42px;
    margin-left: 20px;
  }

  .container-cards-nossos-servicos {
    gap: 30px;
  }

  .cards-nossos-servicos {
    width: 95%;
    height: 200px;
  }

  .cards-nossos-servicos h3 {
    font-size: 28px;
  }

  .cards-nossos-servicos p {
    font-size: 19px;
  }
}

/* 950-1200px Tablet Grande e Pc */
@media (min-width: 950px) and (max-width: 1200px) {
  section.nossos-servicos {
    max-width: 900px;
    gap: 40px;
  }

  .titulo-nossos-servicos {
    font-size: 48px;
  }

  .container-cards-nossos-servicos {
    gap: 30px;
  }

  .cards-nossos-servicos {
    width: 430px;
    height: 240px;
  }

  .cards-nossos-servicos h3 {
    font-size: 28px;
  }

  .cards-nossos-servicos p {
    font-size: 19px;
  }
}

/* 1200-1550px Pc e variações */
@media (min-width: 1201px) and (max-width: 1550px) { 
  section.nossos-servicos {
    max-width: 1200px;
  }

  .titulo-nossos-servicos {
    margin-left: 90px;
  }
}