/* =========================================================
   CONTEÚDO / SEÇÕES
   ========================================================= */
.serv-section {
  position: relative;
  padding: 60px 20px;
}

/* Pictograma de Estrela */
img#ysServicoFunilaria1{
    top: 3%;
    right: 2%;
    animation: ysServicoFunilaria1 9s infinite;
}
img#ysServicoFunilaria2{
    top: 3%;
    left: 2%;
    animation: ysServicoFunilaria2 9s infinite;
}