/* Pictograma de Estrela */
img#ysServicoFunilaria1{
    top: 3%;
    right: 2%;
    animation: ys-superiorDireito 9s infinite;
}
img#ysServicoFunilaria2{
    top: 3%;
    left: 2%;
    animation: ys-superiorEsquerdo 9s infinite;
}