@media (max-width: 768px) {
  .serv-section-aluminio > div:last-child {
    order: 1;
  }

  .serv-section-aluminio > div:first-child {
    order: 2;
  }

  .serv-section-convencional-content {
    display: flex;
    flex-direction: column;
  }

  .serv-section-convencional-content > div:first-child {
    order: 1;
  }

  .serv-section-convencional-content > div:last-child {
    order: 2;
  }
}