@import url('../arquivoBase.css');

/* Main */
div.faixaPreta{
    position: relative;
    padding: 40px 40px 40px 80px;
    background-color: var(--preto5);
}

span.faixaPretaSubtitulo{
    margin-bottom: 15px;
    font-size: 22px;
    font-weight: 500;
    color: var(--preto1);
}

h1.faixaPretaTitulo{
    position: relative;
    font-size: 35px;
    font-weight: bold;
    color: var(--branco1);
}

h1.faixaPretaTitulo::before{
    content: '';
    width: 30px;
    height: 8px;
    margin-right: 15px;
    vertical-align: middle;
    border-radius: 5px;
    display: inline-block;
    background-color: var(--amarelo5);
}

span.pontoAmarelo{
    color: var(--amarelo5);
}

img.decoracao{
    position: absolute;
    top: 40px;
    right: 60px;
}