@import url('../arquivoBase.css');

/* Telas com 445px - 565px*/
@media screen and (min-width: 445px) and (max-width: 565px){
    /* - Main */
    /* -- Faixa Preta */
    div.faixaPreta{ padding: 30px 40px; }

    span.faixaPretaSubtitulo{ font-size: 15px; }

    h1.faixaPretaTitulo{ font-size: 30px; }

    h1.faixaPretaTitulo::before{
        width: 25px;
        height: 5px;
    }

    img.decoracao{
        top: 30px;
        right: 30px;
        width: 40px;
    }


    /* -- Section - Contato */
    section#contato{ padding: 40px; }

    p#contatoTexto{ font-size: 25px; }

    textarea{ height: 120px; }

    button#enviarForm{ font-size: 18px; }
}

/* Telas com 250px - 429px */
@media screen and (max-width: 429px){
    /* - Main */
    /* -- Faixa Preta */
    div.faixaPreta{ padding: 30px 20px; }

    span.faixaPretaSubtitulo{ font-size: 12px; }

    h1.faixaPretaTitulo{ font-size: 25px; }

    h1.faixaPretaTitulo::before{
        width: 20px;
        height: 4px;
        margin-right: 10px;
    }

    img.decoracao{
        top: 30px;
        right: 30px;
        width: 35px;
    }


    /* -- Section - Contato */
    section#contato{
        padding: 30px 20px;
    }

    div.contatoContainer{ max-width: 320px; }

    p#contatoTexto{
        font-size: 20px;
        margin: 20px auto;
    }

    input, textarea{ font-size: 15px; }

    input::placeholder, textarea::placeholder{ font-size: 15px; }

    textarea{ height: 120px; }

    button#enviarForm{ font-size: 15px; }

    button#enviarForm > i{ margin-left: 10px; }
}