@import url('../arquivoBase.css');

/* - Main */
/* -- Faixa Preta */
div.faixaPreta{
    position: relative;
    padding: 40px 40px 40px 80px;
    background-color: var(--preto5);
}

span.faixaPretaSubtitulo{
    margin-bottom: 15px;
    font-size: 22px;
    font-weight: 500;
    color: var(--preto1);
}

h1.faixaPretaTitulo{
    cursor: default;
    position: relative;
    font-size: 35px;
    font-weight: bold;
    color: var(--branco1);
}

h1.faixaPretaTitulo::before{
    content: '';
    width: 30px;
    height: 8px;
    margin-right: 15px;
    vertical-align: middle;
    border-radius: 5px;
    display: inline-block;
    background-color: var(--amarelo5);
}

.palavraAmarelou{
    transition: .3s ease;
}

.palavraAmarelou:hover{
    color:  var(--amarelo3);
}

span.pontoAmarelo{
    color: var(--amarelo5);
}

img.decoracao{
    position: absolute;
    top: 40px;
    right: 60px;
    transition: .3s ease;
}


/* -- Section - Contato */
section#contato{
    position: relative;
    padding: 60px;
    background-color: var(--branco2);
}

div.contatoContainer{
    position: relative; /* Uso dessa propriedade apenas para que o z-index funcione (z-index só funciona se o elemento possuir um position definido) */
    max-width: 700px;
    margin: 0 auto;
    z-index: 2;
}

p#contatoTexto{
    margin-bottom: 25px;
    text-align: center;
    font-size: 30px;
    color: var(--preto3);
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

input, textarea{
    width: 100%;
    padding: 10px;
    border: 2px solid var(--preto5);
    border-radius: 15px;
    font-size: 18px;
    background-color: var(--branco1);
    outline: none;
    transition: .3s ease;
}

input::placeholder, textarea::placeholder{
    font-size: 18px;
    color: var(--preto1);
}

input:hover, textarea:hover{
    border: 2px solid var(--amarelo5);
}

input:focus, textarea:focus{
    border: 2px solid var(--amarelo5);
}

input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

textarea{
    height: 100px;
    resize: none;
}

button#enviarForm{
    cursor: pointer;
    width: 100%;
    padding: 15px 0;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    color: var(--branco1);
    background-color: var(--preto5);
    transition: .3s ease;
}

button#enviarForm > i{
    margin-left: 15px;
}

button#enviarForm:hover{
    scale: 1.02;
    box-shadow: 0 0 20px var(--preto1);
}

/* Pictograma de Estrela */
img.yellow-star{ 
    position: absolute;
    opacity: .35;
    z-index: 1;
}

img.yellow-star:nth-child(2){
    top: 5%;
    left: 5%;
    animation: yellow-star1 9s infinite;
}
img.yellow-star:nth-child(3){
    bottom: 3%;
    right: 8%;
    animation: yellow-star2 9s infinite;
}