/* Telas com 445px - 565px*/
@media screen and (min-width: 445px) and (max-width: 565px){
    /* - Main */
    /* -- Section - Contato */
    section#contato{ padding: 40px; }

    p.contatoTexto{ font-size: 25px; }

    textarea{ height: 120px; }

    /* reCAPTCHA */
    div.reCAPTCHA{ 
        width: 83%;
        scale: 0.9;
    }

    button#enviarForm{ font-size: 18px; }
}

/* Telas com ...px - 429px */
@media screen and (max-width: 429px){
    /* - Main */
    /* -- Section - Contato */
    section#contato{ padding: 30px 20px; }

    div.contatoContainer{ max-width: 320px; }

    p.contatoTexto{
        font-size: 20px;
        margin: 20px auto;
    }

    input, textarea{ font-size: 15px; }

    input::placeholder, textarea::placeholder{ font-size: 15px; }

    textarea{ height: 120px; }

    button#enviarForm{ font-size: 15px; }

    button#enviarForm > i{ margin-left: 10px; }
}


/* Telas com ...px - 444px */
@media screen and (max-width: 444px){
    /* reCAPTCHA */ 
    div.reCAPTCHA{ 
        width: auto;
        transform: scale(0.9);
    }
}